body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Montserrat';
}

p {
    color: #8f8f8f;
}

/* Headings */

.title-heading {
    font-size: 3.2rem;  
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 2.7rem;  
    line-height: 1.5;
    font-weight: bold;
}

/* containers section */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color:honeydew;
}

.white-section {
    background-color: #fff ;
}

/* Title section */

#title .container-fluid {
    padding: 2% 15%;
    text-align: left;
}

.nav-item {
    padding: 5px 5px;
}

.navbar {
    padding:0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Thin';
}

.navbar-brand {
    font-family: 'Ubuntu'; 
    font-size: 2rem;
    font-weight: bold;
}

.download-button {
    margin: 5% 3% 5% 0;
    font-size: 1rem;
    font-weight: bold;
}

.btn-dark:hover {
    background-color: #fff;
    color: #000;
}

.btn-outline-light {
    color: #000;
    background-color: #fff;
}

.btn-outline-light:hover {
    background-color: #000;
    color: #fff;
}

.cta-button {
    margin: 3% 1% 1% 1%;
    font-size: 1rem;
    font-weight: bold;    
}

.title-image {
    width: 70%;
    transform: rotate(10deg);
    padding-left: 100px;
}

/* features section */

/* #features {
    position: relative;
    z-index: 1;
} */

.feature-box {
    padding: 3%;
}

.feature-title {
    font-size: 1.5rem;  
    line-height: 1;
    font-weight: bold;
}

.feature-img {
    color: #ef8172;  
    margin-bottom: 1rem; 
}

.feature-img:hover {
    color: #ff4c68;
}

/* testimonials section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}

.testimonial-text {
    font-size: 2.7rem;  
    line-height: 1.5;
    font-weight: bold;    
}

/* press section */

#press {
    padding: 3%;
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 3% 7%;
}

.pricing-column {
    padding: 2% 1%;
}

.price-title {
    font-size: 1.5rem;  
    line-height: 1;
    font-weight: bold;
}

.price-text {
    font-size: 2.7rem;  
    line-height: 1.5;
    font-weight: bold;
}

/* cta section */

/* footer section */

#footer {
    line-height: 2;
}

#footer .container-fluid {
    padding: 2% 15%;
}

.foo-logo {
    margin: 0 15px;
}
.foo-logo:hover {
    color: #ef8172;
}

/* media section */

@media (max-width: 992px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }    
}